{# templates/adduser.html #}


<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="utf-8">

  <title>Client's Manager - Add User</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>


<body>

  <div class="mainContainer">

          <div class="leftContainer">
            
              <div class="firstColumn">
                        <nav>
                          <a href="{{url_for('adduser')}}">
                          <button type="button" class="buttons" style="background-color: black">ADD USER</button>
                          </a>
                        </nav>
                        <nav>
                          <a href="{{url_for('rmuser')}}">
                          <button type="button"class="buttons">REMOVE USER</button>
                          </a>
                        </nav>
                        <nav>
                          <a href="{{url_for('eduser')}}">                 
                          <button type="button" class="buttons">EDIT USER</button>
                          </a>
                        </nav>
                        <nav>
                          <a href="{{url_for('home')}}">
                          <button type="button" class="buttons">HOME</button>
                          </a>
                        </nav>
              </div>

          </div>


            <form method="post" class="rightContainer">

                        <div class="usernameContainer">
                          <label style="display: text">Username:</label>
                          
                          <input id="username" name="username" required type="text" value="" style="height: 50px; font-size: large; border-color: rgb(0, 94, 234);">
                        
                          <label value="password" style="display: text; margin-top: 2%;">Password:</label> 
                        
                          <input id="password" name="password" required type="password" value="" style="height: 50px; font-size: large; border-color: rgb(0, 94, 234);">
                        </div>
                        

            <div class="buttonSave">
               
              <button type="submit" class="buttons" username="{{username}}" password="{{password}}" style="margin-top: 20%">SAVE</button>
            
            </div>
            </form>            
  </div>

</body>

</html>
