{# templates/base.html #}


<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="utf-8">

  <title>Client's Manager</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>


<body>

  <div class="mainContainer">

          <div class="leftContainer">
            
            <div class="firstColumn">
              <nav>
                <a href="{{url_for('adduser')}}">
                <button type="button" class="buttons">ADD USER</button>
                </a>
              </nav>
              <nav>
                <a href="{{url_for('rmuser')}}">
                <button type="button"class="buttons">REMOVE USER</button>
                </a>
              </nav>
              <nav>
                <a href="{{url_for('eduser')}}">                 
                <button type="button" class="buttons">EDIT USER</button>
                </a>
              </nav>
              <nav>
                <a href="{{url_for('home')}}">
                <button type="button" class="buttons" style="background-color: black">HOME</button>
                </a>
              </nav>
    </div>


          <div class="rightContainer">



          </div>
  </div>

</body>

</html>
